#h1d{
    text-align: center;
    font-family: "Raleway", sans-serif;
    background: gold;
    border-width: 5px;
    border-style: dashed;
    font-size: 20px;
}
body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#vd{
    text-align: center;
    border-width: 10px;
    background-color: yellow;
}
#aaa{
    border: 5px;
    border-style: groove;
    border-width: 10px;
    background-color: goldenrod;
    padding: 10px;
    width: 500px;
    height: 500px;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-justify: center;
    place-items: center;
    place-self: center;
    padding-left: center;
    vertical-align: middle;
    line-height: 100%;
    margin: auto;
}
video {
    margin-left: auto;
    margin-right: auto;
    display: block
}
